<header class="topnavbar">
  <div class="navbar-search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search towers, incidents..." />
  </div>

  <div class="navbar-actions">
    <button class="icon-btn" title="Notifications">
      <i class="fa-solid fa-bell"></i>
      <span class="notif-dot"></span>
    </button>
    <div class="navbar-user">
      <div class="user-avatar">AM</div>
      <span class="user-name">Aditya M</span>
    </div>
  </div>
</header>